.mediabox {
  position: relative;
  border-radius: $borderGlobalRadius;
  overflow: hidden;
  padding-top: 70.9%;
  background-color: $gray00;

  & > * {
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    min-width: 100%;
    max-width: 100%;
  }

  img {
    object-fit: cover;
  }
}
