.search__action_field {
  display: flex;
  align-items: center;
  background-color: $gray00;
  border-radius: 16px;
  height: 52px;
  padding: 0 $containerGlobalPadding;

  input {
    background-color: transparent;
    height: auto;
    border: 0 none;
    border-radius: 0;

    &:focus {
      &::-moz-placeholder {
        opacity: 0;
      }
      &::-ms-input-placeholder {
        opacity: 0;
      }
      &::-webkit-input-placeholder {
        opacity: 0;
      }
    }
  }
}

.search__action_title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
